<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="#!dashboard" class="simple-text">
            Kaviya Mobiles
        </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active" ng-show="isAdmin || isUser">
                    <a href="#!dashboard">
                        <i class="material-icons">chrome_reader_mode</i>
                        <p>History Data</p>
                    </a>
                </li>
                <li ng-show="isAdmin || isUser">
                    <a href="#!addcustomer">
                        <i class="material-icons">person</i>
                        <p>Add/Edit Customer</p>
                    </a>
                </li>
                <li ng-show="isAdmin || isUser">
                    <a href="#!salesinvoice">
                        <i class="material-icons">content_paste</i>
                        <p>Sales Invoice</p>
                    </a>
                </li>
                <!--<li ng-show="isAdmin || isUser">
                    <a href="#!productsearch">
                        <i class="material-icons">search</i>
                        <p>Product Search</p>
                    </a>
                </li>
                <li ng-show="isAdmin || isUser">
                    <a href="#!productbarcode">
                        <i class="material-icons">library_books</i>
                        <span class="notificationCount">5</span>
                        <p>Product Bar/QR Code</p>
                    </a>
                </li>-->
                <li ng-show="isAdmin || isUser">
                    <a href="#!purchaseinvoice">
                        <i class="material-icons">bubble_chart</i>
                        <p>Purchase Invoice</p>
                    </a>
                </li>
                <!--<li ng-show="isAdmin">
                    <a href="#!notifications">
                        <i class="material-icons text-gray">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li ng-show="isAdmin">
                    <a href="#!notifications">
                        <i class="material-icons">assessment</i>
                        <p>Transcations</p>
                    </a>
                </li>-->
                <li ng-show="isAdmin || isUser">
                    <a href="#!preference">
                        <i class="material-icons">build</i>
                        <p>Preference</p>
                    </a>
                </li>
                <li ng-show="isAdmin || isUser">
                    <a href="#!logout">
                        <i class="material-icons">input</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="color: #555555 !important;" href=""> History Data </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i style="color: #555555 !important;" class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Mike John responded to your email</a>
                                </li>
                                <li>
                                    <a href="#">You have 5 new tasks</a>
                                </li>
                                <li>
                                    <a href="#">You're now friend with Andrew</a>
                                </li>
                                <li>
                                    <a href="#">Another Notification</a>
                                </li>
                                <li>
                                    <a href="#">Another One</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Stock Status</h4>
                                <p class="category">Stock Status for {{currDateTime}}</p>
                            </div>
                            <div class="card-content table-responsive" style="height:50%">
                                <table ng-table="tableParamsstockData" class="table table-hover" show-filter="true">
                                    <tr ng-repeat="sStatus in $data">
                                        <td title="'Brand'" filter="{ Brand: 'text'}" sortable="'Brand'">
                                            {{sStatus.Brand}}
                                        </td>
                                        <td title="'Model'" filter="{ Model: 'text'}" sortable="'Model'">
                                            {{sStatus.Model}}
                                        </td>
                                        <td title="'Count'" filter="{ Count: 'number'}" sortable="'Count'">
                                            {{sStatus.Count}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="orange">
                                <h4 class="title">Total Bill</h4>
                                <p class="category">Total Bill for {{currDateTime}}</p>
                            </div>
                            <div class="card-content table-responsive">
                                <table ng-table="tableParamsBillData" class="table table-hover" show-filter="true">
                                    <tr ng-repeat="bill in $data">
                                        <td title="'Bill No'" filter="{ BillNo: 'number'}" sortable="'BillNo'">
                                            {{bill.BillNo}}
                                        </td>
                                        <td title="'Customer Name'" filter="{ CustomerName: 'text'}" sortable="'CustomerName'">
                                            {{bill.CustomerName}}
                                        </td>
                                        <td title="'Bill Amount'" filter="{ TotalBillAmount: 'number'}" sortable="'TotalBillAmount'">
                                            {{bill.TotalBillAmount}}
                                        </td>
                                        <td title="'Bill Date'">
                                            {{bill.IssuedDate}}
                                        </td>
                                        <td title="'Action'">
                                            <button type="button" rel="tooltip" title="Print Bill" class="btn btn-warning btn-simple btn-xs" ng-click="getGeneratedBills(bill)">
                                                <i class="material-icons">print</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Delete Bill" class="btn btn-danger btn-simple btn-xs" ng-click="removeGeneratedBills(bill)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                    Home
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Company
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Portfolio
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Blog
                                </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{currYear}} InnoSols, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>

<!-- Modal Core -->
<div class="modal fade" id="generatedBill" tabindex="-1" role="dialog" aria-labelledby="generatedBill" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeBill();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div print-section>
                                    <table border="1" style="margin-left: auto;margin-right: auto;">
                                        <tr>
                                            <td colspan="9" align="center" valign="middle">
                                                <p style="font-weight: bold;">CASH/CERDIT BILL</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" rowspan="2">
                                                <div style="padding-left: 30px;text-align: left;">
                                                    <br>
                                                    <span style="padding:4%;">
                                                        <img src="../img/store-logo.jpg" alt="storelogo" height="95" width="115" />
                                                    </span>
                                                    <br>#{{shopDetail.address}}
                                                    <br> {{shopDetail.city}}-{{shopDetail.pincode}}.
                                                    <br> Ph: {{shopDetail.phone}} / {{shopDetail.mobile}}
                                                    <br> Email: {{shopDetail.email}}
                                                    <br> GSTIN: {{shopDetail.gstin}}
                                                </div>
                                            </td>
                                            <td colspan="3" align="center" valign="middle">Date : {{secondsToDate(generatedBillData[0].billDate)}}</td>
                                            <td colspan="2" align="center" valign="middle">Bill no : {{generatedBillData[0].bill_no}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="center" valign="middle">{{generatedBillData[0].payment_type}}</td>
                                            <td colspan="2" align="center" valign="middle"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <p style="font-weight: bold;">Buyer</p>
                                                <div style="padding-left: 30px;text-align: left;">
                                                    <span style="font-weight: bold;">
                                                        {{generatedBillData[0].cust_name}}, 
                                                    </span>
                                                    <span> 
                                                        <br>{{generatedBillData[0].cust_address}},
                                                        <br>{{generatedBillData[0].cust_city}},
                                                        <br>{{generatedBillData[0].cust_state}}.
                                                        <br> Ph:{{generatedBillData[0].cust_phone}}/{{generatedBillData[0].cust_alt_phone}}.
                                                    </span>
                                                </div>
                                            </td>
                                            <td colspan="5" align="center" valign="middle"> Mobile Warrenty : One Year
                                                <br> Battery : 6 Months
                                                <br> Charger : 6 Months</td>

                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SI NO</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">PARTICULARS</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">HSN/SAC</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">PRICE</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">CGST%</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">CGST</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SGST%</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SGST</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">AMOUNT</p>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="product in generatedBillData">
                                            <td align="center" valign="middle">{{$index + 1}}</td>
                                            <td align="center" valign="middle" style="padding: 5px;">
                                                {{product.PName}}
                                                <br> IMEI: {{product.imei_number}}
                                                <!--<br> BATTERY: {{product.pBattery}}
                                                <br> CHARGER: {{product.pCharger}}-->
                                            </td>
                                            <td align="center" valign="middle">{{product.pHSNSAC}}</td>
                                            <td align="center" valign="middle">{{product.unit_price}}</td>
                                            <td align="center" valign="middle">{{product.TaxPer}}</td>
                                            <td align="center" valign="middle">{{product.cgst_amnt}}</td>
                                            <td align="center" valign="middle">{{product.TaxPer}}</td>
                                            <td align="center" valign="middle">{{product.sgst_amnt}}</td>
                                            <td align="center" valign="middle">{{product.pAmount}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{geItemsCount}}</p>
                                            </td>
                                            <td colspan="3" align="center" valign="middle">
                                                <p style="font-weight: bold;"> E & O.E</p>
                                            </td>
                                            <td colspan="1"></td>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{generatedBillData[0].TCGST}}</p>
                                            </td>
                                            <td colspan="1"></td>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{generatedBillData[0].TSGST}}</p>
                                            </td>
                                            <td colspan="1" rowspan="2" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{generatedBillData[0].amount}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <p style="font-weight: bold;">{{totalCashWor}}</p>
                                            </td>
                                            <td colspan="1"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <ul style="list-style-type:square">
                                                    <li>GOODS ONCE SOLD CANNOT BE TAKEN BACK</li>
                                                    <li>WARRENTY SHOULD BE CLAIM FROM MANUFACTURER ONLY</li>
                                                    <li>SERVICE & REPAIR CONTACT SERVICE CENTRE ONLY</li>
                                                </ul>
                                            </td>
                                            <td colspan="2" align="center" valign="middle">
                                                <p style="font-weight: bold;">Net Value</p>
                                            </td>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{generatedBillData[0].amount}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">I HAVE READ THE WARRENTY AND TERMS & CONDITIONS AND
                                                <br>RECEIVED THE GOODS IN GOOD CONDITION
                                                <br>
                                                <br>
                                                <br> Buyer's Singatory
                                            </td>
                                            <td colspan="1">
                                                <p style="font-weight: bold;">for Kaviya Mobiles</p>
                                                <br>
                                                <br>
                                                <br>
                                                <br>Authorided Singatory
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <button print-btn type="button" class="btn btn-primary pull-right">Print</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>

<!-- Modal Core -->
<div class="modal fade" id="getConfirmation" tabindex="-1" role="dialog" aria-labelledby="getConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="getConfirmationLabel">Delete Generated Bill</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Are you want to DELETE BILL NO {{deleteBillData.billNo}}</h4>
                                </div>
                                <div class="card-content">
                                    <button type="button" class="btn btn-primary pull-right" ng-click="deleteBill()">Yes</button>
                                    <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">No</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>