<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="../img/sidebar-1.jpg">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="#!dashboard" class="simple-text">
        Kaviya Mobiles
    </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li ng-show="isAdmin">
                    <a href="#!dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li ng-show="isAdmin || isUser">
                    <a href="#!addcustomer">
                        <i class="material-icons">person</i>
                        <p>Add/Edit Customer</p>
                    </a>
                </li>
                <li class="active" ng-show="isAdmin || isUser">
                    <a href="#!salesinvoice">
                        <i class="material-icons">content_paste</i>
                        <p>Sales Invoice</p>
                    </a>
                </li>
                <!--<li ng-show="isAdmin || isUser">
                <a href="#!productsearch">
                    <i class="material-icons">search</i>
                    <p>Product Search</p>
                </a>
            </li>
            <li ng-show="isAdmin || isUser">
                <a href="#!productbarcode">
                    <i class="material-icons">library_books</i>
                    <span class="notificationCount">5</span>
                    <p>Product Bar/QR Code</p>
                </a>
            </li>-->
                <li ng-show="isAdmin || isUser">
                    <a href="#!purchaseinvoice">
                        <i class=" material-icons">bubble_chart</i>
                        <p>Purchase Invoice</p>
                    </a>
                </li>
                <!--<li ng-show="isAdmin">
                <a href="#!notifications">
                    <i class="material-icons text-gray">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li ng-show="isAdmin">
                <a href="#!notifications">
                    <i class="material-icons">assessment</i>
                    <p>Transcations</p>
                </a>
            </li>-->
                <li ng-show="isAdmin">
                    <a href="#!preference">
                        <i class="material-icons">build</i>
                        <p>Preference</p>
                    </a>
                </li>
                <li ng-show="isAdmin || isUser">
                    <a href="#!logout">
                        <i class="material-icons">input</i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="color: #555555 !important;" class="navbar-brand" href="#"> Sales Invoice </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i style="color: #555555 !important;" class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Mike John responded to your email</a>
                                </li>
                                <li>
                                    <a href="#">You have 5 new tasks</a>
                                </li>
                                <li>
                                    <a href="#">You're now friend with Andrew</a>
                                </li>
                                <li>
                                    <a href="#">Another Notification</a>
                                </li>
                                <li>
                                    <a href="#">Another One</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Sales Invoice </h4>
                                <p class="category">{{currDateTime}} Sales Invoice</p>
                            </div>
                            <div class="card-content">
                                <div id="typography">
                                    <div class="title">
                                        <h2>Sales Invoice</h2>
                                    </div>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Customer Phone</label>
                                                    <input type="text" class="form-control" ng-model="customerName" ng-change="isValidCustPhone()">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <div class="form-group label-floating" ng-click="getCustomerDetails()" ng-disabled="isSearchCust !== true" ng-show="isSearchCust">
                                                        <a href="">
                                                            <i class="material-icons" rel="tooltip" title="Search Customer">search</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Issue Date :{{issueDate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group label-floating" ng-init="brandSearch()">
                                                    <label class="control-label">Brand</label>
                                                    <div>
                                                        <select class="form-control" ng-model="brandId" ng-change="modelDetails()">
                                                            <option ng-repeat="brandName in brandNameArray track by $index" value="{{brandName.bid}}">{{brandName.brand}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Model</label>
                                                    <div>
                                                        <select ng-disabled="isModel !== true" class="form-control" ng-model="modelId" ng-change="productDetails()">
                                                            <option ng-repeat="modelDetail in modelDetailArray track by $index" value="{{modelDetail.item_id}}">{{modelDetail.model}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Product IMEI</label>
                                                    <div>
                                                        <select ng-disabled="isProduct !== true" class="form-control" ng-model="sid" ng-change="productSearch()">
                                                            <option ng-repeat="productDetails in productArray track by $index" value="{{productDetails.sid}}">{{productDetails.imei_number}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1">
                                                <div class="row">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">MRP</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" ng-show="isValueLoad">{{productPrice}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="row">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Discount(%)</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" ng-show="isValueLoad">{{productDis}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="row">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Tax</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label" ng-show="isValueLoad">{{productTax}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-1">
                                                <div class="form-group label-floating">
                                                    <button rel="tooltip" title="Add Product" class="btn btn-primary 
                                                    btn-fab btn-fab-mini btn-round" ng-disabled="isAdd !== true" ng-click="addProductList(
                                                        productSkuno, productName, productIMEI, productPrice, productDis, productTax)">
                                                        <i class="material-icons">add circle</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header" data-background-color="purple">
                                                        <h4 class="title">Product List</h4>
                                                        <p class="category">Addlist Product for Sales Invoice</p>
                                                    </div>
                                                    <div class="card-content table-responsive">
                                                        <table class="table">
                                                            <thead class="text-primary">
                                                                <th>No</th>
                                                                <th>Product/Service</th>
                                                                <th>Product IMEI</th>
                                                                <th>Unit Price</th>
                                                                <th>Discount</th>
                                                                <th>CGST</th>
                                                                <th>SGST</th>
                                                                <th>Action</th>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="product in salesProductList.pList">
                                                                    <td>{{product.SNo}}</td>
                                                                    <td>{{product.pName}}</td>
                                                                    <td>{{product.pIMEI}}</td>
                                                                    <td>{{product.pPrice}}</td>
                                                                    <td>{{product.pDis}}</td>
                                                                    <td>{{product.pCTax}}</td>
                                                                    <td>{{product.pSTax}}</td>
                                                                    <td class="text-primary td-actions text-right">
                                                                        <!--<button type="button" rel="tooltip" title="Edit Product" class="btn btn-primary btn-simple btn-xs">
                                                                            <i class="material-icons">edit</i>
                                                                        </button>-->
                                                                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                            <i class="material-icons">close</i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="checkbox">
                                                            <label>
                                                                        <input type="checkbox" checked>
                                                                    </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Payment Type</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="radio">
                                                            <label class="control-label">
                                                                    <input type="radio"  ng-model="paymentType" value="CASH">
                                                                    Cash
                                                                </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="radio">
                                                            <label class="control-label">
                                                                    <input type="radio"  ng-model="paymentType" value="CREDIT">
                                                                    Credit
                                                                </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="radio">
                                                            <label class="control-label">
                                                                    <input type="radio"  ng-model="paymentType" value="CHEQUE">
                                                                    Cheque
                                                                </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="radio">
                                                            <label class="control-label">
                                                                    <input type="radio"  ng-model="paymentType" value="FINACE">
                                                                    Finace
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" checked>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Round Off</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="false">
                                                    <div class="col-md-1">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="totDisVal" ng-change="totDis()">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Total Discount</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating" ng-show="isTotDis">
                                                            <input type="text" ng-model="totDisData" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" ng-show="false">
                                                    <div class="col-md-1">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" ng-model="dueAmntVal" ng-change="dueAmnt()">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Due Amount</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating" ng-show="isDueAmnt">
                                                            <input type="text" ng-model="dueAmntData" class="form-control" ng-change="totalAmntAfterDue();">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8"></div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Sub Total</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" ng-show="isAddProduct">{{salesProductList.subTotal}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Discount</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" ng-show="isAddProduct">{{salesProductList.tDisc}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">GST</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" ng-show="isAddProduct">{{salesProductList.pList.pTax}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">CGST</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" ng-show="isAddProduct">{{salesProductList.CGST}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">SGST</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-2">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label" ng-show="isAddProduct">{{salesProductList.SGST}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Round Off</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" ng-show="isAddProduct">{{salesProductList.roundOff}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Due Amount</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" ng-show="isAddProduct">{{dueAmntData}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Total</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" ng-show="isAddProduct">{{salesProductList.Total}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right" ng-click="generatePreviewBill();">Generate Bill</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="coming-soon.html">
                                    Home
                                </a>
                        </li>
                        <li>
                            <a href="coming-soon.html">
                                    Company
                                </a>
                        </li>
                        <li>
                            <a href="coming-soon.html">
                                    About Us
                                </a>
                        </li>
                        <li>
                            <a href="coming-soon.html">
                                    Contact Us
                                </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{currYear}} InnoSols, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>

<!-- Modal Core -->
<div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="addCustomerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addCustomerLabel">Customer Not Found</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Add New Customer</h4>
                                </div>
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Name</label>
                                                    <input type="text" class="form-control" ng-model="addCustName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Phone</label>
                                                    <input type="text" class="form-control" ng-model="addCustPhone">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email address</label>
                                                    <input type="email" class="form-control" ng-model="addCustEmail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Adress</label>
                                                    <input type="text" class="form-control" ng-model="addCustAddress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">City</label>
                                                    <input type="text" class="form-control" ng-model="addCustCity">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">State</label>
                                                    <input type="text" class="form-control" ng-model="addCustState">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Postal Code</label>
                                                    <input type="text" class="form-control" ng-model="addCustPinCode">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right" ng-click="addCust()">Add Customer</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<!-- Modal Core -->
<div class="modal fade" id="getCustomer" tabindex="-1" role="dialog" aria-labelledby="getCustomerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="getCustomerLabel">Customer Found</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">{{cusName}}'s Details</h4>
                                </div>
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Name : </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{{cusName}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Phone No : </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{{cusPhone}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email : </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{{cusEmail}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Address : </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{{cusAddress}}, {{cusCity}}, {{cusState}}, {{cusPinCode}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right" ng-click="selectCust()">Select</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Modal Core -->
<div class="modal fade" id="addCustDBMessage" tabindex="-1" role="dialog" aria-labelledby="addCustDBMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">{{customerName}} {{custTitle}}</h4>
                                </div>
                                <div class="card-content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">{{customerName}}{{custMessage}} !#!#</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Ok</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Modal Core -->
<div class="modal fade" id="previewBill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div print-section>
                                    <table border="1">
                                        <tr>
                                            <td colspan="10" align="center" valign="middle">
                                                <p style="font-weight: bold;">CASH/CERDIT BILL</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" rowspan="2">
                                                <p style="font-weight: bold;">KAVIYA Mobiles</p> <br>#324, SEKKAI ROAD, <br> UDHAYAM LODG E(OPP),<br> KARAIKUDI-630001. <br> Ph:9000123400, 90000012345 <br> GSTIN: 33AKDPT2147GIZB</td>
                                            <td colspan="3" align="center" valign="middle">Date : {{issueDate}}</td>
                                            <td colspan="2" align="center" valign="middle">Bill no : {{billNo}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" align="center" valign="middle">{{paymentType}}</td>
                                            <td colspan="2" align="center" valign="middle">{{totalCash}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <p style="font-weight: bold;">Buyer <br> {{cusName}}</p>,
                                                <br>{{cusCity}},
                                                <br> Ph:{{cusPhone}}.</td>
                                            <td colspan="5" align="center" valign="middle"> Mobile Warrenty : One Year <br> Battery : 6 Months <br> Charger : 6 Months</td>

                                        </tr>
                                        <tr>
                                            <td colspan="10">
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SI NO</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">PARTICULARS</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SKU NO</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">PRICE</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">QTY</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">CGST%</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">CGST</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SGST%</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">SGST</p>
                                            </td>
                                            <td align="center" valign="middle">
                                                <p style="font-weight: bold;">AMOUNT</p>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="product in salesProductList.pList">
                                            <td align="center" valign="middle">{{product.SNo}}</td>
                                            <td align="center" valign="middle">{{product.pName}}</td>
                                            <td align="center" valign="middle">{{product.pSkuno}}</td>
                                            <td align="center" valign="middle">{{product.pPrice}}</td>
                                            <td align="center" valign="middle">{{product.pQty}}</td>
                                            <td align="center" valign="middle">{{product.pCTaxPer}}</td>
                                            <td align="center" valign="middle">{{product.pCTax}}</td>
                                            <td align="center" valign="middle">{{product.pSTaxPer}}</td>
                                            <td align="center" valign="middle">{{product.pSTax}}</td>
                                            <td align="center" valign="middle">{{product.pAmount}}</td>
                                        </tr>
                                        <tr>
                                            <td><br><br><br><br><br><br><br><br></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{itemsCount}}</p>
                                            </td>
                                            <td colspan="4" align="center" valign="middle">
                                                <p style="font-weight: bold;"> E & O.E</p>
                                            </td>
                                            <td colspan="1"></td>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{salesProductList.CGST}}</p>
                                            </td>
                                            <td colspan="1"></td>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{salesProductList.SGST}}</p>
                                            </td>
                                            <td colspan="1" rowspan="2" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{totalCash}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <p style="font-weight: bold;">{{totalCashWords}}</p>
                                            </td>
                                            <td colspan="1"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <ul style="list-style-type:square">
                                                    <li>GOODS ONCE SOLD CANNOT BE TAKEN BACK</li>
                                                    <li>WARRENTY SHOULD BE CLAIM FROM MANUFACTURER ONLY</li>
                                                    <li>SERVICE & REPAIR CONTACT SERVICE CENTRE ONLY</li>
                                                </ul>
                                            </td>
                                            <td colspan="1" align="center" valign="middle">
                                                <p style="font-weight: bold;">{{totalCash}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9">I HAVE READ THE WARRENTY AND TERMS & CONDITIONS AND
                                                <br>RECEIVED THE GOODS IN GOOD CONDITION
                                                <br><br><br> Buyer's Singatory
                                            </td>
                                            <td colspan="1">
                                                <p style="font-weight: bold;">for Kaviya Mobiles</p>
                                                <br><br><br><br>Authorided Singatory
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <button print-btn type="button" class="btn btn-primary pull-right">Print</button>
                                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Back</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>